Repository meksys-dev/mekara: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, eslint-lint, tsc-type-check, docs-test, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

ruff-format:
  name: Ruff Format
  entry: poetry run ruff format --exclude 'src/mekara/bundled/scripts' .mekara src tests
  language: system
  pass_filenames: false

ruff-lint:
  name: Ruff Lint
  entry: poetry run ruff check --exclude 'src/mekara/bundled/scripts' .mekara src tests
  language: system
  pass_filenames: false

vulture:
  name: Vulture Dead Code
  entry: poetry run vulture .mekara/scripts/compiled/ src/mekara/ --exclude 'src/mekara/bundled/scripts' --min-confidence 100
  language: system
  pass_filenames: false

pyright:
  name: Pyright Type Check
  entry: poetry run pyright
  language: system
  pass_filenames: false

forbid-type-workarounds:
  name: Forbid type checking workarounds
  entry: bash scripts/hooks/forbid_type_workarounds.sh
  language: system
  pass_filenames: true

prettier-format:
  name: Prettier Format
  entry: bash -c 'cd docs && pnpm prettier --write --list-different "${@#docs/}"' --
  language: system
  pass_filenames: true

eslint-lint:
  name: ESLint Lint
  entry: bash -c 'cd docs && pnpm eslint --fix "${@#docs/}"' --
  language: system
  pass_filenames: true

tsc-type-check:
  name: TypeScript Type Check
  entry: bash -c 'cd docs && pnpm tsc --noEmit --skipLibCheck'
  language: system
  pass_filenames: false

docs-test:
  name: Docusaurus Tests
  entry: bash -c 'cd docs && pnpm test'
  language: system
  pass_filenames: false

docs-build:
  name: Build Documentation
  entry: bash -c 'cd docs/ && pnpm build'
  language: system
  pass_filenames: false

sync-bundled-standards:
  name: Sync Bundled Standards
  entry: bash -c 'python3 scripts/sync-standards.py && git add src/mekara/bundled/standards/'
  language: system
  pass_filenames: false

check-bundled-scripts:
  name: Check Bundled Scripts Match Live
  entry: bash scripts/hooks/check_bundled_scripts.sh
  language: system
  pass_filenames: false

wiki-sidebar-label:
  name: Wiki sidebar label validation
  entry: poetry run python scripts/hooks/check_wiki_frontmatter.py
  language: system
  pass_filenames: true

Add write_bundled_command MCP tool (phases 1 and 2)
  .mekara/scripts/nl/ai-tooling/setup-mekara-mcp.md
  docs/docs/roadmap/install-bundled-command-mcp-tool.md
  docs/wiki/ai-tooling/setup-mekara-mcp.md
  src/mekara/bundled/scripts/nl/ai-tooling/setup-mekara-mcp.md
  src/mekara/mcp/server.py
  src/mekara/vcr/events.py
  src/mekara/vcr/mcp_server.py
  tests/test_mcp_server.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Add VCR testing infrastructure for write_bundled_command MCP tool
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/development/quickstart/for-ais.md
  src/mekara/mcp/disk.py
  src/mekara/mcp/server.py
  src/mekara/vcr/cassette.py
  src/mekara/vcr/events.py
  src/mekara/vcr/mcp_server.py
  tests/cassettes/write-bundled-command.yaml
  tests/record_write_bundled_command_cassette.py
  tests/test_mcp_server.py
  tests/test_mcp_vcr.py
  tests/vcr_test_driver.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Add support for customizing bundled standards as well
  .mekara/scripts/nl/ai-tooling/setup-mekara-mcp.md
  .mekara/scripts/nl/customize.md
  docs/docs/code-base/mekara/_mcp-tools.md
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/development/build-and-test.md
  docs/docs/roadmap/install-bundled-command-mcp-tool.md
  docs/docs/usage/commands/mcp.md
  docs/docs/usage/customizing-bundled-commands.md
  docs/docs/usage/customizing-bundled-content.md
  docs/wiki/ai-tooling/setup-mekara-mcp.md
  src/mekara/bundled/scripts/nl/ai-tooling/setup-mekara-mcp.md
  src/mekara/bundled/scripts/nl/customize.md
  src/mekara/mcp/server.py
  src/mekara/vcr/events.py
  src/mekara/vcr/mcp_server.py
  tests/cassettes/write-bundled.yaml
  tests/record_write_bundled_cassette.py
  tests/test_mcp_server.py
  tests/test_mcp_vcr.py
  tests/vcr_test_driver.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Add script for collecting coding standard issues
  .mekara/scripts/nl/collect-my-feedback.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/code-base/mekara/coding-standards.md
  docs/docs/code-base/mekara/index.md
  docs/docs/standards/documentation.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/scripts/nl/collect-my-feedback.md
  src/mekara/bundled/standards/documentation.md
  src/mekara/bundled/standards/workflow.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Validate file existence and relative paths in VCR
  docs/docs/code-base/mekara/coding-standards.md
  docs/docs/code-base/mekara/conventions/vcr.md
  src/mekara/mcp/disk.py
  src/mekara/mcp/server.py
  src/mekara/vcr/cassette.py
  src/mekara/vcr/events.py
  src/mekara/vcr/filesystem.py
  src/mekara/vcr/mcp_server.py
  tests/cassettes/write-bundled.yaml
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Remove completed roadmap document for install-bundled-command-mcp-tool
  docs/docs/roadmap/install-bundled-command-mcp-tool.md
Due: prettier-format, docs-build

Add write_bundled_command MCP tool and customize/collect-my-feedback scripts
  .mekara/scripts/nl/ai-tooling/setup-mekara-mcp.md
  .mekara/scripts/nl/collect-my-feedback.md
  .mekara/scripts/nl/customize.md
  .mekara/scripts/nl/merge-main.md
  docs/docs/code-base/mekara/_mcp-tools.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/code-base/mekara/coding-standards.md
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/code-base/mekara/index.md
  docs/docs/development/build-and-test.md
  docs/docs/development/quickstart/for-ais.md
  docs/docs/standards/documentation.md
  docs/docs/standards/workflow.md
  docs/docs/usage/commands/install.md
  docs/docs/usage/commands/mcp.md
  docs/docs/usage/customizing-bundled-content.md
  docs/wiki/ai-tooling/setup-mekara-mcp.md
  src/mekara/bundled/scripts/nl/ai-tooling/setup-mekara-mcp.md
  src/mekara/bundled/scripts/nl/collect-my-feedback.md
  src/mekara/bundled/scripts/nl/customize.md
  src/mekara/bundled/scripts/nl/merge-main.md
  src/mekara/bundled/standards/documentation.md
  src/mekara/bundled/standards/workflow.md
  src/mekara/mcp/disk.py
  src/mekara/mcp/server.py
  src/mekara/vcr/cassette.py
  src/mekara/vcr/events.py
  src/mekara/vcr/filesystem.py
  src/mekara/vcr/mcp_server.py
  tests/cassettes/write-bundled.yaml
  tests/record_write_bundled_cassette.py
  tests/test_mcp_server.py
  tests/test_mcp_vcr.py
  tests/vcr_test_driver.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Bump version to 0.1.1
  pyproject.toml
Due: none

Add Step 7 to create GitHub release after PyPI install verification
  .mekara/scripts/nl/project/release.md
Due: pyright, check-bundled-scripts

Do initial VCR spec refactor
  docs/docs/code-base/documentation/index.md
  docs/docs/code-base/mekara/modules/index.md
  docs/docs/code-base/mekara/modules/vcr.md
  docs/docs/standards/specs.md
  src/mekara/bundled/standards/specs.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards

Refactor VCR spec to desired end-state
  docs/docs/code-base/mekara/modules/index.md
  docs/docs/code-base/mekara/modules/vcr.md
  docs/docs/standards/specs.md
  src/mekara/bundled/standards/specs.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards

Move scripting into new modules folder
  docs/docs/code-base/mekara/capabilities/index.md
  docs/docs/code-base/mekara/core.md
  docs/docs/code-base/mekara/index.md
  docs/docs/code-base/mekara/modules/index.md
  docs/docs/code-base/mekara/modules/scripting.md
  docs/docs/code-base/mekara/modules/vcr.md
Due: prettier-format, docs-build

Update VCR docs to where we want VCR to be
  docs/docs/code-base/documentation/index.md
  docs/docs/code-base/mekara/conventions/index.md
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/code-base/mekara/index.md
  docs/docs/code-base/mekara/modules/vcr.md
  docs/docs/code-base/mekara/testing/index.md
  docs/docs/code-base/mekara/vcr-agent-recordings/implementation.md
  docs/docs/code-base/mekara/vcr-agent-recordings/index.md
  docs/docs/code-base/mekara/vcr-agent-recordings/usage.md
  docs/docs/philosophy.md
Due: prettier-format, docs-build

Refactor VCR implementation to comply with spec
  src/mekara/mcp/disk.py
  src/mekara/mcp/server.py
  src/mekara/vcr/auto_executor.py
  src/mekara/vcr/cassette.py
  src/mekara/vcr/errors.py
  src/mekara/vcr/events.py
  src/mekara/vcr/filesystem.py
  src/mekara/vcr/mcp_server.py
  tests/test_mcp_vcr.py
  tests/vcr_test_driver.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds

Validate Agent Skills frontmatter
  .pre-commit-config.yaml
  docs/docs/development/git-hooks.md
  docs/docs/standards/project.md
  scripts/hooks/check_skill_frontmatter.py
  scripts/hooks/check_wiki_frontmatter.py
  src/mekara/bundled/standards/project.md
  tests/test_sync_nl.py
Due: ruff-format, ruff-lint, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards

Document Agent Skills as canonical script source
  docs/docs/code-base/documentation/conventions.md
  docs/docs/code-base/mekara/cli/index.md
  docs/docs/standards/project.md
  docs/docs/usage/cli-reference.md
  docs/docs/usage/commands/install.md
  docs/docs/usage/index.md
  src/mekara/bundled/standards/project.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards

Fix VCR spec documentation and cassette module docstring
  docs/docs/code-base/mekara/modules/vcr.md
  src/mekara/vcr/cassette.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Refactor VCR implementation and documentation to comply with spec
  docs/docs/code-base/documentation/index.md
  docs/docs/code-base/mekara/capabilities/index.md
  docs/docs/code-base/mekara/conventions/index.md
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/code-base/mekara/core.md
  docs/docs/code-base/mekara/index.md
  docs/docs/code-base/mekara/modules/index.md
  docs/docs/code-base/mekara/modules/scripting.md
  docs/docs/code-base/mekara/modules/vcr.md
  docs/docs/code-base/mekara/testing/index.md
  docs/docs/code-base/mekara/vcr-agent-recordings/implementation.md
  docs/docs/code-base/mekara/vcr-agent-recordings/index.md
  docs/docs/code-base/mekara/vcr-agent-recordings/usage.md
  docs/docs/philosophy.md
  docs/docs/standards/specs.md
  src/mekara/bundled/standards/specs.md
  src/mekara/mcp/disk.py
  src/mekara/mcp/server.py
  src/mekara/vcr/auto_executor.py
  src/mekara/vcr/cassette.py
  src/mekara/vcr/errors.py
  src/mekara/vcr/events.py
  src/mekara/vcr/filesystem.py
  src/mekara/vcr/mcp_server.py
  tests/test_mcp_vcr.py
  tests/vcr_test_driver.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards

Update project init skill layout docs
  .agents/skills/project/new-repo-init/SKILL.md
  docs/wiki/project/new-repo-init.md
  src/mekara/bundled/scripts/nl/project/new-repo-init/SKILL.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Fix pre-commit hook setup for NodeJS projects
  .agents/skills/project/setup-pre-commit-hooks/SKILL.md
  docs/wiki/project/setup-pre-commit-hooks.md
  src/mekara/bundled/scripts/nl/project/setup-pre-commit-hooks/SKILL.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Fix pre-commit hook setup instructions for NodeJS projects
  .agents/skills/project/setup-pre-commit-hooks/SKILL.md
  docs/wiki/project/setup-pre-commit-hooks.md
  src/mekara/bundled/scripts/nl/project/setup-pre-commit-hooks/SKILL.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Update documentation to reflect skill folder layout refactor
  docs/docs/code-base/documentation/conventions.md
  docs/docs/code-base/mekara/_mcp-tools.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/code-base/mekara/cli/index.md
  docs/docs/code-base/mekara/conventions/index.md
  docs/docs/code-base/mekara/core.md
  docs/docs/code-base/mekara/hooks.md
  docs/docs/code-base/mekara/modules/scripting.md
  docs/docs/code-base/mekara/modules/vcr.md
  docs/docs/code-base/mekara/scripts.md
  docs/docs/development/git-hooks.md
  docs/docs/development/quickstart/for-ais.md
  docs/docs/development/workflows.md
  docs/docs/standards/project.md
  docs/docs/standards/workflow.md
  docs/docs/usage/cli-reference.md
  docs/docs/usage/commands/install.md
  docs/docs/usage/compiled-scripts.md
  docs/docs/usage/customizing-bundled-content.md
  docs/docs/usage/index.md
  src/mekara/bundled/standards/design-documents.md
  src/mekara/bundled/standards/project.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards

Update setup doc
  .agents/skills/project/setup-docs/SKILL.md
  docs/wiki/project/setup-docs.md
  src/mekara/bundled/skills/project/setup-docs/SKILL.md
Due: pyright, prettier-format, docs-build, wiki-sidebar-label

Update setup doc (#26)
  .agents/skills/project/setup-docs/SKILL.md
  docs/wiki/project/setup-docs.md
  src/mekara/bundled/skills/project/setup-docs/SKILL.md
Due: pyright, prettier-format, docs-build, wiki-sidebar-label

Fix hook detection for multi-line prompts and document the fix
  docs/docs/code-base/mekara/hooks.md
  src/mekara/cli.py
  tests/test_hooks.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Add allow_failure parameter to auto() primitive for non-zero exit code handling
  .agents/skills/compile/SKILL.md
  docs/docs/code-base/mekara/modules/scripting.md
  src/mekara/mcp/executor.py
  src/mekara/scripting/runtime.py
  tests/test_mcp_server.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Fix hook detection for multi-line prompts and document the fix (#27)
  docs/docs/code-base/mekara/hooks.md
  src/mekara/cli.py
  tests/test_hooks.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Standardize squash-only merging as required GitHub repository setting
  .agents/skills/project/setup-github-repo/SKILL.md
  .agents/skills/project/setup-github-repo/mekara.py
  docs/docs/standards/project.md
  docs/wiki/project/setup-github-repo.md
  src/mekara/bundled/standards/project.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, wiki-sidebar-label

Update setup-github-repo to enforce squash-only merging
  src/mekara/bundled/skills/project/setup-github-repo/SKILL.md
  src/mekara/bundled/skills/project/setup-github-repo/mekara.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds

Enforce squash-only merging in setup-github-repo
  .agents/skills/project/setup-github-repo/SKILL.md
  .agents/skills/project/setup-github-repo/mekara.py
  docs/docs/standards/project.md
  docs/wiki/project/setup-github-repo.md
  src/mekara/bundled/skills/project/setup-github-repo/SKILL.md
  src/mekara/bundled/skills/project/setup-github-repo/mekara.py
  src/mekara/bundled/standards/project.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, wiki-sidebar-label

Fix bundled skill sync paths
  .agents/skills/check-plan-completion/SKILL.md
  .agents/skills/compile/SKILL.md
  .agents/skills/customize/SKILL.md
  .agents/skills/debug-script-compilation/SKILL.md
  .agents/skills/mekara/generalize-bundled-script/SKILL.md
  .agents/skills/project/new-repo-init/SKILL.md
  .agents/skills/project/new/SKILL.md
  .agents/skills/project/systematize/SKILL.md
  .agents/skills/project/worktree-init/SKILL.md
  .agents/skills/recursive-self-improvement/SKILL.md
  .agents/skills/rsi-scripting/SKILL.md
  .agents/skills/standardize/SKILL.md
  .agents/skills/systematize/SKILL.md
  docs/docs/code-base/mekara/scripts.md
  docs/docs/development/git-hooks.md
  docs/docs/index.md
  docs/docs/roadmap/setup-teardown-worktree-scripts.md
  docs/wiki/project/new-repo-init.md
  docs/wiki/project/new.md
  docs/wiki/project/worktree-init.md
  scripts/sync_nl.py
  src/mekara/bundled/skills/compile/SKILL.md
  tests/test_sync_nl.py
Due: ruff-format, ruff-lint, pyright, forbid-type-workarounds, prettier-format, docs-build, wiki-sidebar-label

Add allow_failure parameter to auto() primitive for non-zero exit code handling (#28)
  .agents/skills/compile/SKILL.md
  docs/docs/code-base/mekara/modules/scripting.md
  src/mekara/mcp/executor.py
  src/mekara/scripting/runtime.py
  tests/test_mcp_server.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Bump version to 0.1.2
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: ^(\.mekara|src|tests)/.*\.py$
  ruff-lint: any of: ^(\.mekara|src|tests)/.*\.py$
  vulture: any of: ^(\.mekara|src)/.*\.py$
  pyright: any of: ^(\.mekara|src|tests)/
  forbid-type-workarounds: any of: ^(\.mekara|src|tests)/.*\.py$, but not: ^src/mekara/bundled/scripts/
  prettier-format: any of: ^docs/.*\.(js|jsx|ts|tsx|mts|json|md|mdx|yaml|yml|css|scss|html)$
  eslint-lint: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  tsc-type-check: any of: ^docs/.*\.tsx?$
  docs-test: any of: ^docs/.*\.tsx?$
  docs-build: any of: ^docs/
  sync-bundled-standards: any of: ^docs/docs/standards/.*\.md$
  check-bundled-scripts: any of: ^(\.mekara/scripts/nl/|\.mekara/scripts/compiled/|src/mekara/bundled/scripts/)
  wiki-sidebar-label: any of: ^docs/wiki/.*\.md$
