Repository meksys-dev/mekara: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, eslint-lint, tsc-type-check, docs-test, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: poetry run ruff format --exclude 'src/mekara/bundled/scripts' .mekara src tests
        language: system
        pass_filenames: false
        files: ^(\.mekara|src|tests)/.*\.py$
      - id: ruff-lint
        name: Ruff Lint
        entry: poetry run ruff check --exclude 'src/mekara/bundled/scripts' .mekara src tests
        language: system
        pass_filenames: false
        files: ^(\.mekara|src|tests)/.*\.py$
      - id: vulture
        name: Vulture Dead Code
        entry: poetry run vulture .mekara/scripts/compiled/ src/mekara/ --exclude 'src/mekara/bundled/scripts' --min-confidence 100
        language: system
        pass_filenames: false
        files: ^(\.mekara|src)/.*\.py$
      - id: pyright
        name: Pyright Type Check
        entry: poetry run pyright
        language: system
        pass_filenames: false
        files: ^(\.mekara|src|tests)/
      - id: forbid-type-workarounds
        name: Forbid type checking workarounds
        entry: bash scripts/hooks/forbid_type_workarounds.sh
        language: system
        pass_filenames: true
        files: ^(\.mekara|src|tests)/.*\.py$
        exclude: ^src/mekara/bundled/scripts/
      - id: prettier-format
        name: Prettier Format
        entry: bash -c 'cd docs && pnpm prettier --write --list-different "${@#docs/}"' --
        language: system
        pass_filenames: true
        files: ^docs/.*\.(js|jsx|ts|tsx|mts|json|md|mdx|yaml|yml|css|scss|html)$
      - id: eslint-lint
        name: ESLint Lint
        entry: bash -c 'cd docs && pnpm eslint --fix "${@#docs/}"' --
        language: system
        pass_filenames: true
        files: ^docs/.*\.(js|jsx|ts|tsx)$
      - id: tsc-type-check
        name: TypeScript Type Check
        entry: bash -c 'cd docs && pnpm tsc --noEmit --skipLibCheck'
        language: system
        pass_filenames: false
        files: ^docs/.*\.tsx?$
      - id: docs-test
        name: Docusaurus Tests
        entry: bash -c 'cd docs && pnpm test'
        language: system
        pass_filenames: false
        files: ^docs/.*\.tsx?$
      - id: docs-build
        name: Build Documentation
        entry: bash -c 'cd docs/ && pnpm build'
        language: system
        pass_filenames: false
        files: ^docs/
      - id: sync-bundled-standards
        name: Sync Bundled Standards
        entry: bash -c 'python3 scripts/sync-standards.py && git add src/mekara/bundled/standards/'
        language: system
        pass_filenames: false
        files: ^docs/docs/standards/.*\.md$
      - id: check-bundled-scripts
        name: Check Bundled Scripts Match Live
        entry: bash scripts/hooks/check_bundled_scripts.sh
        language: system
        pass_filenames: false
        files: ^(\.mekara/scripts/nl/|\.mekara/scripts/compiled/|src/mekara/bundled/scripts/)
      - id: wiki-sidebar-label
        name: Wiki sidebar label validation
        entry: poetry run python scripts/hooks/check_wiki_frontmatter.py
        language: system
        pass_filenames: true
        files: ^docs/wiki/.*\.md$
      - id: post-commit-cleanup
        name: Clean up sync markers
        entry: bash scripts/hooks/post_commit_cleanup.sh
        language: system
        stages: [post-commit]
        always_run: true

Document check_wiki_frontmatter.py hook in scripts.md
  docs/docs/code-base/mekara/scripts.md
Due: prettier-format, docs-build

Add external link checker for documentation
  .linkcheck-ignore
  .mekara/scripts/nl/project/release.md
  docs/docs/code-base/mekara/index.md
  docs/docs/code-base/mekara/scripts.md
  docs/docs/development/build-and-test.md
  docs/docs/development/continuous-integration.md
  docs/docs/index.md
  scripts/check-external-links.py
Due: pyright, prettier-format, docs-build, check-bundled-scripts

Refactor CLI from argparse to Click and enhance documentation standards
  docs/docs/code-base/mekara/cli/index.md
  docs/docs/dependencies/click.md
  docs/docs/dependencies/index.md
  docs/docs/standards/documentation.md
  docs/docs/usage/cli-reference.md
  poetry.lock
  pyproject.toml
  src/mekara/bundled/standards/documentation.md
  src/mekara/cli.py
  tests/test_cli.py
  tests/test_hooks.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards

add summary
  SUMMARY.md
Due: none

add desciription to commands
  SUMMARY.md
Due: none

reorder and pare back
  SUMMARY.md
Due: none

change natural language phrasing
  SUMMARY.md
Due: none

remove extra stuff
  SUMMARY.md
Due: none

remove section for clarity
  SUMMARY.md
Due: none

Move version badge into breadcrumbs row and rename current label to Dev
  docs/src/css/custom.css
  docs/src/theme/DocBreadcrumbs/index.tsx
  docs/src/theme/DocVersionBadge/index.tsx
Due: prettier-format, eslint-lint, tsc-type-check, docs-test, docs-build

Document docs versioning and trim redundant release steps
  docs/docs/code-base/documentation/ui-customizations.md
  docs/docs/development/releasing.md
Due: prettier-format, docs-build

Generalize bundled project:release script and fix check_bundled_scripts hook
  .mekara/scripts/nl/project/release.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/development/git-hooks.md
  docs/wiki/project/release.md
  scripts/hooks/check_bundled_scripts.sh
  src/mekara/bundled/scripts/nl/project/release.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Refactor sync-nl, fix bundled script hooks, and restore release script content
  .mekara/scripts/nl/project/release.md
  .pre-commit-config.yaml
  docs/docs/development/git-hooks.md
  docs/docs/development/quickstart/for-ais.md
  scripts/hooks/check_bundled_scripts.sh
  scripts/hooks/post_commit_cleanup.sh
  scripts/sync-nl.py
  tests/test_sync_nl.py
Due: ruff-format, ruff-lint, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts

Remove .mekara/.sync-in-progress references from live files
  .gitignore
  .mekara/scripts/nl/mekara/generalize-bundled-script.md
  .mekara/scripts/nl/merge-main.md
  scripts/hooks/check_bundled_scripts.sh
  src/mekara/bundled/scripts/nl/merge-main.md
Due: pyright, check-bundled-scripts

Add cleanup-stale-references command and overhaul NL script sync
  .claude/agents/committer.md
  .mekara/scripts/nl/coding/cleanup-stale-references.md
  .pre-commit-config.yaml
  docs/docs/code-base/mekara/scripts.md
  docs/docs/development/git-hooks.md
  docs/docs/roadmap/documentation-reorganization.md
  docs/docs/roadmap/index.md
  docs/docs/standards/workflow.md
  docs/wiki/coding/cleanup-stale-references.md
  docs/wiki/coding/index.md
  docs/wiki/target-platform/index.md
  pyproject.toml
  scripts/hooks/check_bundled_scripts.sh
  scripts/sync-nl.py
  scripts/sync_nl.py
  src/mekara/bundled/scripts/nl/coding/cleanup-stale-references.md
  src/mekara/bundled/standards/workflow.md
  tests/conftest.py
  tests/test_sync_nl.py
Due: ruff-format, ruff-lint, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Remove project-specific scripts from wiki/bundled and add category exclusions to sync
  docs/docs/development/git-hooks.md
  docs/docs/development/quickstart/for-ais.md
  scripts/sync_nl.py
Due: prettier-format, docs-build

Add /waterfall command and simplify /change to delegate to it
  .mekara/scripts/nl/change.md
  .mekara/scripts/nl/waterfall.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/standards/workflow.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Support top-level scripts in sync_nl, add --all flag, and update docs
  .mekara/scripts/nl/standardize.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/code-base/mekara/scripts.md
  docs/docs/development/git-hooks.md
  docs/docs/development/workflows.md
  scripts/sync_nl.py
  src/mekara/bundled/scripts/nl/change.md
  src/mekara/bundled/scripts/nl/standardize.md
  src/mekara/bundled/scripts/nl/waterfall.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts

Clarify that extractions run in parallel by default in analyze-branch-for-extraction
  .mekara/scripts/nl/analyze-branch-for-extraction.md
  src/mekara/bundled/scripts/nl/analyze-branch-for-extraction.md
Due: pyright, check-bundled-scripts

Overhaul NL script sync tooling and add cleanup-stale-references command
  .claude/agents/committer.md
  .gitignore
  .mekara/scripts/nl/coding/cleanup-stale-references.md
  .mekara/scripts/nl/mekara/generalize-bundled-script.md
  .mekara/scripts/nl/merge-main.md
  .mekara/scripts/nl/project/release.md
  .mekara/scripts/nl/standardize.md
  .pre-commit-config.yaml
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/code-base/mekara/scripts.md
  docs/docs/development/git-hooks.md
  docs/docs/development/quickstart/for-ais.md
  docs/docs/development/workflows.md
  docs/docs/roadmap/documentation-reorganization.md
  docs/docs/roadmap/index.md
  docs/docs/standards/workflow.md
  docs/wiki/coding/cleanup-stale-references.md
  docs/wiki/coding/index.md
  docs/wiki/project/release.md
  docs/wiki/target-platform/index.md
  pyproject.toml
  scripts/hooks/check_bundled_scripts.sh
  scripts/hooks/post_commit_cleanup.sh
  scripts/sync-nl.py
  scripts/sync_nl.py
  src/mekara/bundled/scripts/nl/coding/cleanup-stale-references.md
  src/mekara/bundled/scripts/nl/merge-main.md
  src/mekara/bundled/scripts/nl/project/release.md
  src/mekara/bundled/scripts/nl/standardize.md
  src/mekara/bundled/standards/workflow.md
  tests/conftest.py
  tests/test_sync_nl.py
Due: ruff-format, ruff-lint, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Fix check-bundled-scripts hook to use poetry run for markdown_it dependency
  .pre-commit-config.yaml
Due: none

Add simplified bundled change.md to delegate to /waterfall
  src/mekara/bundled/scripts/nl/change.md
Due: pyright, check-bundled-scripts

Add /waterfall command and simplify /change to delegate to it
  .mekara/scripts/nl/change.md
  .mekara/scripts/nl/waterfall.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/scripts/nl/change.md
  src/mekara/bundled/standards/workflow.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Prohibit "Test plan" sections in PR bodies created by /finish
  .mekara/scripts/nl/finish.md
Due: pyright, check-bundled-scripts

Add /waterfall script and improve NL script conventions
  .mekara/scripts/nl/analyze-branch-for-extraction.md
  .mekara/scripts/nl/finish.md
  src/mekara/bundled/scripts/nl/analyze-branch-for-extraction.md
  src/mekara/bundled/scripts/nl/waterfall.md
Due: pyright, check-bundled-scripts

Add design document for scripting module refactor (Issue #5)
  docs/docs/roadmap/refactor-scripting-module.md
Due: prettier-format, docs-build

Add module specs standard and mark Phase 1 complete
  docs/docs/roadmap/refactor-scripting-module.md
  docs/docs/standards/design-documents.md
  docs/docs/standards/index.md
  docs/docs/standards/specs.md
  src/mekara/bundled/standards/design-documents.md
  src/mekara/bundled/standards/specs.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards

Remind Step 4 agents to embed full decision richness from Steps 1–3 into the design doc
  .mekara/scripts/nl/waterfall.md
  src/mekara/bundled/scripts/nl/waterfall.md
Due: pyright, check-bundled-scripts

Enrich scripting module refactor design doc with waterfall rationale
  docs/docs/roadmap/refactor-scripting-module.md
Due: prettier-format, docs-build

Add guideline that a commit is not a green light to proceed
  .mekara/scripts/nl/waterfall.md
  src/mekara/bundled/scripts/nl/waterfall.md
Due: pyright, check-bundled-scripts

Expand waterfall examples and add scope/context guidelines
  .mekara/scripts/nl/waterfall.md
  docs/docs/development/quickstart/for-ais.md
  docs/docs/roadmap/refactor-scripting-module.md
  docs/docs/standards/specs.md
  src/mekara/bundled/scripts/nl/waterfall.md
  src/mekara/bundled/standards/specs.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Add design doc for extracting setup-worktree and teardown-worktree scripts
  docs/docs/roadmap/setup-teardown-worktree-scripts.md
Due: prettier-format, docs-build

Add /setup-worktree and /teardown-worktree scripts
  .mekara/scripts/compiled/setup_worktree.py
  .mekara/scripts/compiled/teardown_worktree.py
  .mekara/scripts/nl/setup-worktree.md
  .mekara/scripts/nl/teardown-worktree.md
  src/mekara/bundled/scripts/nl/setup-worktree.md
  src/mekara/bundled/scripts/nl/teardown-worktree.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, check-bundled-scripts

Delegate worktree setup/teardown in /start and /finish to dedicated scripts
  .mekara/scripts/compiled/finish.py
  .mekara/scripts/compiled/start.py
  .mekara/scripts/nl/finish.md
  .mekara/scripts/nl/start.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, check-bundled-scripts
