Repository meksys-dev/mekara: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, eslint-lint, tsc-type-check, docs-test, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

ruff-format:
  name: Ruff Format
  entry: poetry run ruff format --exclude 'src/mekara/bundled/scripts' .mekara src tests
  language: system
  pass_filenames: false

ruff-lint:
  name: Ruff Lint
  entry: poetry run ruff check --exclude 'src/mekara/bundled/scripts' .mekara src tests
  language: system
  pass_filenames: false

vulture:
  name: Vulture Dead Code
  entry: poetry run vulture .mekara/scripts/compiled/ src/mekara/ --exclude 'src/mekara/bundled/scripts' --min-confidence 100
  language: system
  pass_filenames: false

pyright:
  name: Pyright Type Check
  entry: poetry run pyright
  language: system
  pass_filenames: false

forbid-type-workarounds:
  name: Forbid type checking workarounds
  entry: bash scripts/hooks/forbid_type_workarounds.sh
  language: system
  pass_filenames: true

prettier-format:
  name: Prettier Format
  entry: bash -c 'cd docs && pnpm prettier --write --list-different "${@#docs/}"' --
  language: system
  pass_filenames: true

eslint-lint:
  name: ESLint Lint
  entry: bash -c 'cd docs && pnpm eslint --fix "${@#docs/}"' --
  language: system
  pass_filenames: true

tsc-type-check:
  name: TypeScript Type Check
  entry: bash -c 'cd docs && pnpm tsc --noEmit --skipLibCheck'
  language: system
  pass_filenames: false

docs-test:
  name: Docusaurus Tests
  entry: bash -c 'cd docs && pnpm test'
  language: system
  pass_filenames: false

docs-build:
  name: Build Documentation
  entry: bash -c 'cd docs/ && pnpm build'
  language: system
  pass_filenames: false

sync-bundled-standards:
  name: Sync Bundled Standards
  entry: bash -c 'python3 scripts/sync-standards.py && git add src/mekara/bundled/standards/'
  language: system
  pass_filenames: false

check-bundled-scripts:
  name: Check Bundled Scripts Match Live
  entry: bash scripts/hooks/check_bundled_scripts.sh
  language: system
  pass_filenames: false

wiki-sidebar-label:
  name: Wiki sidebar label validation
  entry: poetry run python scripts/hooks/check_wiki_frontmatter.py
  language: system
  pass_filenames: true

Generalize bundled setup-worktree script and document the generalization
  docs/docs/code-base/mekara/bundled-script-generalization.md
  src/mekara/bundled/scripts/nl/setup-worktree.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts

Generalize bundled teardown-worktree to be tool-agnostic
  docs/docs/code-base/mekara/bundled-script-generalization.md
  src/mekara/bundled/scripts/nl/teardown-worktree.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts

Generalize bundled start script to delegate worktree setup to /setup-worktree
  src/mekara/bundled/scripts/compiled/start.py
  src/mekara/bundled/scripts/nl/start.md
Due: ruff-format, ruff-lint, vulture, pyright, check-bundled-scripts

Generalize bundled finish script to delegate worktree teardown to /teardown-worktree
  src/mekara/bundled/scripts/compiled/finish.py
  src/mekara/bundled/scripts/nl/finish.md
Due: ruff-format, ruff-lint, vulture, pyright, check-bundled-scripts

Clarify bundled-script-generalization.md tracks persistent differences, not equal changes
  .mekara/scripts/nl/mekara/generalize-bundled-script.md
Due: pyright, check-bundled-scripts

Document scripting module spec and mark Phase 2 complete
  docs/docs/code-base/mekara/capabilities/scripting.md
  docs/docs/roadmap/refactor-scripting-module.md
Due: prettier-format, docs-build

Enrich module spec standard with lessons from scripting spec
  docs/docs/standards/specs.md
  src/mekara/bundled/standards/specs.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards

Make waterfall Step 5 invoke /document, support prospective doc updates, and update workflow diagram
  .mekara/scripts/nl/document.md
  .mekara/scripts/nl/waterfall.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/scripts/nl/document.md
  src/mekara/bundled/scripts/nl/waterfall.md
  src/mekara/bundled/standards/workflow.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Implement Phase 3: script loading interface refactor (Issues 1, 2, 3)
  docs/docs/roadmap/refactor-scripting-module.md
  src/mekara/cli.py
  src/mekara/mcp/executor.py
  src/mekara/scripting/loading.py
  tests/test_hooks.py
  tests/utils.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Extract setup-worktree and teardown-worktree scripts, generalize bundled scripts
  .mekara/scripts/compiled/finish.py
  .mekara/scripts/compiled/setup_worktree.py
  .mekara/scripts/compiled/start.py
  .mekara/scripts/compiled/teardown_worktree.py
  .mekara/scripts/nl/document.md
  .mekara/scripts/nl/finish.md
  .mekara/scripts/nl/mekara/generalize-bundled-script.md
  .mekara/scripts/nl/setup-worktree.md
  .mekara/scripts/nl/start.md
  .mekara/scripts/nl/teardown-worktree.md
  .mekara/scripts/nl/waterfall.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/roadmap/setup-teardown-worktree-scripts.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/scripts/compiled/finish.py
  src/mekara/bundled/scripts/compiled/start.py
  src/mekara/bundled/scripts/nl/document.md
  src/mekara/bundled/scripts/nl/finish.md
  src/mekara/bundled/scripts/nl/setup-worktree.md
  src/mekara/bundled/scripts/nl/start.md
  src/mekara/bundled/scripts/nl/teardown-worktree.md
  src/mekara/bundled/scripts/nl/waterfall.md
  src/mekara/bundled/standards/workflow.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Implement Phase 4 resolution cleanup (Issues 4, 5, 6)
  docs/docs/roadmap/refactor-scripting-module.md
  src/mekara/cli.py
  src/mekara/scripting/resolution.py
  tests/test_resolution.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Implement Phase 5 runtime cleanup (ScriptCallResult, ActionType, ScriptExecutionError)
  .mekara/scripts/nl/compile.md
  docs/docs/roadmap/refactor-scripting-module.md
  src/mekara/bundled/scripts/nl/compile.md
  src/mekara/mcp/executor.py
  src/mekara/scripting/__init__.py
  src/mekara/scripting/auto.py
  src/mekara/scripting/loading.py
  src/mekara/scripting/runtime.py
  src/mekara/vcr/auto_executor.py
  src/mekara/vcr/events.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts

Fix teardown-worktree remote branch check to use git ls-remote without --exit-code
  .mekara/scripts/nl/teardown-worktree.md
  src/mekara/bundled/scripts/compiled/teardown_worktree.py
  src/mekara/bundled/scripts/nl/teardown-worktree.md
Due: ruff-format, ruff-lint, vulture, pyright, check-bundled-scripts

Fix teardown-worktree remote branch check to avoid spurious failure
  .mekara/scripts/nl/teardown-worktree.md
  src/mekara/bundled/scripts/compiled/teardown_worktree.py
  src/mekara/bundled/scripts/nl/teardown-worktree.md
Due: ruff-format, ruff-lint, vulture, pyright, check-bundled-scripts

Add design doc and install-customized-command script
  .mekara/scripts/nl/install-customized-command.md
  docs/docs/roadmap/install-bundled-command-mcp-tool.md
  src/mekara/bundled/scripts/nl/install-customized-command.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts

Implement last refactor in step
  docs/docs/code-base/mekara/capabilities/scripting.md
  docs/docs/roadmap/refactor-scripting-module.md
  src/mekara/cli.py
  src/mekara/mcp/executor.py
  src/mekara/scripting/loading.py
  src/mekara/scripting/nl.py
  src/mekara/scripting/resolution.py
  src/mekara/scripting/standards.py
  tests/test_mcp_server.py
  tests/test_mcp_vcr.py
  tests/test_resolution.py
  tests/utils.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Spec compliance fixes, RealAutoExecutor rename, and check-spec-compliance command
  .mekara/scripts/nl/check-spec-compliance.md
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/code-base/mekara/capabilities/scripting.md
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/code-base/mekara/core.md
  docs/docs/code-base/mekara/vcr-agent-recordings/usage.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/scripts/nl/check-spec-compliance.md
  src/mekara/bundled/standards/workflow.md
  src/mekara/cli.py
  src/mekara/mcp/server.py
  src/mekara/scripting/__init__.py
  src/mekara/scripting/auto.py
  src/mekara/vcr/auto_executor.py
  src/mekara/vcr/mcp_server.py
  tests/test_mcp_server.py
  tests/test_mcp_vcr.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Document LoadedNLScript/LoadedCompiledScript design choice and archive completed roadmap
  docs/docs/code-base/mekara/capabilities/scripting.md
  docs/docs/roadmap/refactor-scripting-module.md
Due: prettier-format, docs-build

Refactor scripting subpackages: clean interfaces, spec standard, and check-spec-compliance command
  .mekara/scripts/nl/check-spec-compliance.md
  .mekara/scripts/nl/compile.md
  .mekara/scripts/nl/waterfall.md
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/code-base/mekara/capabilities/scripting.md
  docs/docs/code-base/mekara/conventions/vcr.md
  docs/docs/code-base/mekara/core.md
  docs/docs/code-base/mekara/vcr-agent-recordings/usage.md
  docs/docs/development/quickstart/for-ais.md
  docs/docs/standards/design-documents.md
  docs/docs/standards/index.md
  docs/docs/standards/specs.md
  docs/docs/standards/workflow.md
  src/mekara/bundled/scripts/nl/check-spec-compliance.md
  src/mekara/bundled/scripts/nl/compile.md
  src/mekara/bundled/scripts/nl/waterfall.md
  src/mekara/bundled/standards/design-documents.md
  src/mekara/bundled/standards/specs.md
  src/mekara/bundled/standards/workflow.md
  src/mekara/cli.py
  src/mekara/mcp/executor.py
  src/mekara/mcp/server.py
  src/mekara/scripting/__init__.py
  src/mekara/scripting/auto.py
  src/mekara/scripting/loading.py
  src/mekara/scripting/nl.py
  src/mekara/scripting/resolution.py
  src/mekara/scripting/runtime.py
  src/mekara/scripting/standards.py
  src/mekara/vcr/auto_executor.py
  src/mekara/vcr/events.py
  src/mekara/vcr/mcp_server.py
  tests/test_hooks.py
  tests/test_mcp_server.py
  tests/test_mcp_vcr.py
  tests/test_resolution.py
  tests/utils.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts

Add script standardization to roadmap
  docs/docs/roadmap/standardize-nl-scripts.md
Due: prettier-format, docs-build

Add --version / -V flag to mekara CLI
  docs/docs/usage/cli-reference.md
  src/mekara/cli.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Improve waterfall and document script rules
  .mekara/scripts/nl/document.md
  .mekara/scripts/nl/waterfall.md
  src/mekara/bundled/scripts/nl/document.md
  src/mekara/bundled/scripts/nl/waterfall.md
Due: pyright, check-bundled-scripts

Add --version flag and improve documentation guidelines
  .mekara/scripts/nl/document.md
  .mekara/scripts/nl/waterfall.md
  docs/docs/usage/cli-reference.md
  src/mekara/bundled/scripts/nl/document.md
  src/mekara/bundled/scripts/nl/waterfall.md
  src/mekara/cli.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts

Standardize NL scripts Phase 1: simple additions and fixes
  .mekara/scripts/compiled/setup_worktree.py
  .mekara/scripts/compiled/teardown_worktree.py
  .mekara/scripts/nl/analyze-branch-for-extraction.md
  .mekara/scripts/nl/plan-design-doc.md
  .mekara/scripts/nl/plan-refactor.md
  .mekara/scripts/nl/project/release.md
  .mekara/scripts/nl/project/setup-github-pages.md
  .mekara/scripts/nl/project/setup-github-repo.md
  .mekara/scripts/nl/setup-worktree.md
  .mekara/scripts/nl/standardize.md
  .mekara/scripts/nl/teardown-worktree.md
  docs/docs/roadmap/standardize-nl-scripts.md
  docs/wiki/project/setup-github-pages.md
  docs/wiki/project/setup-github-repo.md
  src/mekara/bundled/scripts/compiled/teardown_worktree.py
  src/mekara/bundled/scripts/nl/analyze-branch-for-extraction.md
  src/mekara/bundled/scripts/nl/plan-design-doc.md
  src/mekara/bundled/scripts/nl/plan-refactor.md
  src/mekara/bundled/scripts/nl/project/setup-github-pages.md
  src/mekara/bundled/scripts/nl/project/setup-github-repo.md
  src/mekara/bundled/scripts/nl/setup-worktree.md
  src/mekara/bundled/scripts/nl/standardize.md
  src/mekara/bundled/scripts/nl/teardown-worktree.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts, wiki-sidebar-label

Standardize NL scripts Phase 2: structural fixes and standard updates
  .mekara/scripts/nl/document-complex-feature.md
  .mekara/scripts/nl/extract-pr.md
  .mekara/scripts/nl/merge-main.md
  .mekara/scripts/nl/project/worktree-init.md
  .mekara/scripts/nl/rsi-scripting.md
  .mekara/scripts/nl/systematize.md
  docs/docs/roadmap/standardize-nl-scripts.md
  docs/docs/standards/command.md
  docs/wiki/project/worktree-init.md
  src/mekara/bundled/scripts/nl/document-complex-feature.md
  src/mekara/bundled/scripts/nl/extract-pr.md
  src/mekara/bundled/scripts/nl/merge-main.md
  src/mekara/bundled/scripts/nl/project/worktree-init.md
  src/mekara/bundled/scripts/nl/rsi-scripting.md
  src/mekara/bundled/scripts/nl/systematize.md
  src/mekara/bundled/standards/command.md
Due: pyright, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Fix nested script failures to halt parent frame with error instead of advancing
  docs/docs/code-base/mekara/capabilities/mcp.md
  src/mekara/mcp/executor.py
  tests/test_mcp_server.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Fix nested script failures to halt parent frame with error
  docs/docs/code-base/mekara/capabilities/mcp.md
  src/mekara/mcp/executor.py
  tests/test_mcp_server.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Standardize NL scripts Phase 3: major restructuring and standard updates
  .mekara/scripts/compiled/finish.py
  .mekara/scripts/compiled/start.py
  .mekara/scripts/nl/compile.md
  .mekara/scripts/nl/document.md
  .mekara/scripts/nl/finish.md
  .mekara/scripts/nl/project/setup-docs.md
  .mekara/scripts/nl/recursive-self-improvement.md
  .mekara/scripts/nl/start.md
  docs/docs/roadmap/standardize-nl-scripts.md
  docs/docs/standards/command.md
  docs/wiki/project/setup-docs.md
  src/mekara/bundled/scripts/compiled/finish.py
  src/mekara/bundled/scripts/compiled/start.py
  src/mekara/bundled/scripts/nl/compile.md
  src/mekara/bundled/scripts/nl/document.md
  src/mekara/bundled/scripts/nl/finish.md
  src/mekara/bundled/scripts/nl/project/setup-docs.md
  src/mekara/bundled/scripts/nl/recursive-self-improvement.md
  src/mekara/bundled/scripts/nl/start.md
  src/mekara/bundled/standards/command.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Add LLM control flow warning and update continuation format
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/development/build-and-test.md
  src/mekara/mcp/executor.py
  src/mekara/mcp/server.py
  tests/cassettes/mcp-nested.yaml
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Fix nested script failure handling and add LLM control flow warnings
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/development/build-and-test.md
  src/mekara/mcp/executor.py
  src/mekara/mcp/server.py
  tests/cassettes/mcp-nested.yaml
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build

Standardize NL scripts Phase 4: test scripts
  .mekara/scripts/compiled/test/nested.py
  .mekara/scripts/compiled/test/random.py
  .mekara/scripts/nl/test/double-or-nothing.md
  .mekara/scripts/nl/test/imagine-object.md
  .mekara/scripts/nl/test/nested.md
  .mekara/scripts/nl/test/random.md
  docs/docs/development/quickstart/for-ais.md
  docs/docs/roadmap/standardize-nl-scripts.md
  src/mekara/bundled/scripts/compiled/test/nested.py
  src/mekara/bundled/scripts/compiled/test/random.py
  src/mekara/bundled/scripts/nl/test/double-or-nothing.md
  src/mekara/bundled/scripts/nl/test/imagine-object.md
  src/mekara/bundled/scripts/nl/test/nested.md
  src/mekara/bundled/scripts/nl/test/random.md
  tests/cassettes/mcp-nested.yaml
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, check-bundled-scripts

Update command standard and bundled script validation
  .mekara/scripts/compiled/start.py
  .mekara/scripts/nl/compile.md
  .mekara/scripts/nl/finish.md
  .mekara/scripts/nl/project/setup-docs.md
  .mekara/scripts/nl/recursive-self-improvement.md
  .mekara/scripts/nl/start.md
  .mekara/scripts/nl/test/double-or-nothing.md
  .mekara/scripts/nl/test/imagine-object.md
  .mekara/scripts/nl/test/nested.md
  .mekara/scripts/nl/test/random.md
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/development/git-hooks.md
  docs/docs/roadmap/standardize-nl-scripts.md
  docs/docs/standards/command.md
  docs/wiki/project/setup-docs.md
  scripts/sync_nl.py
  src/mekara/bundled/scripts/compiled/finish.py
  src/mekara/bundled/scripts/compiled/start.py
  src/mekara/bundled/scripts/nl/compile.md
  src/mekara/bundled/scripts/nl/finish.md
  src/mekara/bundled/scripts/nl/project/setup-docs.md
  src/mekara/bundled/scripts/nl/recursive-self-improvement.md
  src/mekara/bundled/scripts/nl/start.md
  src/mekara/bundled/scripts/nl/test/double-or-nothing.md
  src/mekara/bundled/scripts/nl/test/imagine-object.md
  src/mekara/bundled/scripts/nl/test/nested.md
  src/mekara/bundled/scripts/nl/test/random.md
  src/mekara/bundled/standards/command.md
  tests/test_sync_nl.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Re-record VCR
  tests/cassettes/mcp-nested.yaml
Due: pyright

Standardize NL scripts Phase 5: follow-up cleanup
  .mekara/scripts/compiled/ai_tooling/setup_mekara_mcp.py
  .mekara/scripts/compiled/extract_pr.py
  .mekara/scripts/compiled/project/setup_github_repo.py
  .mekara/scripts/compiled/test/double_or_nothing.py
  .mekara/scripts/compiled/test/nested.py
  .mekara/scripts/compiled/test/random.py
  .mekara/scripts/nl/compile.md
  .mekara/scripts/nl/document-complex-feature.md
  .mekara/scripts/nl/project/setup-docs.md
  .mekara/scripts/nl/project/systematize.md
  .mekara/scripts/nl/systematize.md
  docs/docs/roadmap/standardize-nl-scripts.md
  docs/docs/standards/command.md
  docs/wiki/project/setup-docs.md
  src/mekara/bundled/scripts/compiled/ai_tooling/setup_mekara_mcp.py
  src/mekara/bundled/scripts/compiled/extract_pr.py
  src/mekara/bundled/scripts/compiled/project/setup_github_repo.py
  src/mekara/bundled/scripts/compiled/teardown_worktree.py
  src/mekara/bundled/scripts/compiled/test/double_or_nothing.py
  src/mekara/bundled/scripts/compiled/test/nested.py
  src/mekara/bundled/scripts/compiled/test/random.py
  src/mekara/bundled/scripts/nl/compile.md
  src/mekara/bundled/scripts/nl/document-complex-feature.md
  src/mekara/bundled/scripts/nl/project/setup-docs.md
  src/mekara/bundled/scripts/nl/project/systematize.md
  src/mekara/bundled/scripts/nl/systematize.md
  src/mekara/bundled/standards/command.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, prettier-format, docs-build, sync-bundled-standards, check-bundled-scripts, wiki-sidebar-label

Fix remaining compilation diffs
  .mekara/scripts/compiled/extract_pr.py
  .mekara/scripts/compiled/finish.py
  src/mekara/bundled/scripts/compiled/extract_pr.py
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, check-bundled-scripts

Correct remaining stale step reference
  .mekara/scripts/compiled/start.py
  .mekara/scripts/nl/start.md
  src/mekara/bundled/scripts/compiled/start.py
  src/mekara/bundled/scripts/nl/start.md
Due: ruff-format, ruff-lint, vulture, pyright, forbid-type-workarounds, check-bundled-scripts

Archive standardize NL scripts roadmap
  docs/docs/code-base/mekara/bundled-script-generalization.md
  docs/docs/roadmap/standardize-nl-scripts.md
Due: prettier-format, docs-build

Extract MCP tool definitions into canonical importable source to eliminate duplication
  .mekara/scripts/nl/customize.md
  docs/docs/code-base/mekara/_mcp-tools.md
  docs/docs/code-base/mekara/capabilities/mcp.md
  docs/docs/code-base/mekara/capabilities/scripting.md
  docs/docs/roadmap/install-bundled-command-mcp-tool.md
  docs/docs/usage/commands/install.md
  docs/docs/usage/commands/mcp.md
  docs/docs/usage/customizing-bundled-commands.md
  src/mekara/bundled/scripts/nl/customize.md
Due: pyright, prettier-format, docs-build, check-bundled-scripts

Update merge to main script to work better
  .mekara/scripts/nl/merge-main.md
  src/mekara/bundled/scripts/nl/merge-main.md
Due: pyright, check-bundled-scripts

Path conditions:
  ruff-format: any of: ^(\.mekara|src|tests)/.*\.py$
  ruff-lint: any of: ^(\.mekara|src|tests)/.*\.py$
  vulture: any of: ^(\.mekara|src)/.*\.py$
  pyright: any of: ^(\.mekara|src|tests)/
  forbid-type-workarounds: any of: ^(\.mekara|src|tests)/.*\.py$, but not: ^src/mekara/bundled/scripts/
  prettier-format: any of: ^docs/.*\.(js|jsx|ts|tsx|mts|json|md|mdx|yaml|yml|css|scss|html)$
  eslint-lint: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  tsc-type-check: any of: ^docs/.*\.tsx?$
  docs-test: any of: ^docs/.*\.tsx?$
  docs-build: any of: ^docs/
  sync-bundled-standards: any of: ^docs/docs/standards/.*\.md$
  check-bundled-scripts: any of: ^(\.mekara/scripts/nl/|\.mekara/scripts/compiled/|src/mekara/bundled/scripts/)
  wiki-sidebar-label: any of: ^docs/wiki/.*\.md$
